---
import Li from "./Li.astro";
---

<section>
	<h2>Points Destacados</h2>
	<ul>
		<Li
			src="https://hips.hearstapps.com/hmg-prod/images/beef-empanadas-1640021932.jpeg?crop=0.668xw:1.00xh;0.167xw,0&resize=1200:*"
			title="Rincón el Gato"
			category="snack restaurant"
			status="ABIERTO AHORA"
			distance="500 M"
			likes={612}
		/>
		<Li
			src="https://hips.hearstapps.com/hmg-prod/images/beef-empanadas-1640021932.jpeg?crop=0.668xw:1.00xh;0.167xw,0&resize=1200:*"
			title="Rincón el Gato"
			category="snack restaurant"
			status="ABIERTO AHORA"
			distance="500 M"
			likes={612}
		/>
		<Li
			src="https://hips.hearstapps.com/hmg-prod/images/beef-empanadas-1640021932.jpeg?crop=0.668xw:1.00xh;0.167xw,0&resize=1200:*"
			title="Rincón el Gato"
			category="snack restaurant"
			status="CERRADO"
			distance="500 M"
			likes={612}
		/>
		<Li
			src="https://hips.hearstapps.com/hmg-prod/images/beef-empanadas-1640021932.jpeg?crop=0.668xw:1.00xh;0.167xw,0&resize=1200:*"
			title="Este es un texto muy largo y muy pero que muy largo"
			category="snack restaurant"
			status="ABIERTO AHORA"
			distance="500 M"
			likes={612}
		/>
	</ul>
</section>

<style>
	h2 {
		padding-left: 16px;
	}
	ul {
		list-style: none;
	}
</style>